@model AspNetCoreAppEFCore.Models.DataModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>DataModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Key" class="control-label"></label>
                <input asp-for="Key" class="form-control" />
                <span asp-validation-for="Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleCode" class="control-label"></label>
                <input asp-for="ArticleCode" class="form-control" />
                <span asp-validation-for="ArticleCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorCode" class="control-label"></label>
                <input asp-for="ColorCode" class="form-control" />
                <span asp-validation-for="ColorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPrice" class="control-label"></label>
                <input asp-for="DiscountPrice" class="form-control" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveredIn" class="control-label"></label>
                <input asp-for="DeliveredIn" class="form-control" />
                <span asp-validation-for="DeliveredIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q1" class="control-label"></label>
                <input asp-for="Q1" class="form-control" />
                <span asp-validation-for="Q1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileId" class="control-label"></label>
                <input asp-for="FileId" class="form-control" />
                <span asp-validation-for="FileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
